body {
    text-align: center;
    font-family: Outfit, sans-serif;
    background-color: #283618;
}

h1 {
    margin-bottom: 30px;
    color: #fefae0;
}

h2 {
    color: #fefae0;
}

input {
    margin: 10px;
    background-color: #fdf0d5;
    border: 3px solid #669bbc;
    border-radius: 10px;
        padding: 4px 6px;
    font-size: 16px;
}

button {
    padding: 4px 6px;
    font-size: 16px;
    border: 3px solid #669bbc;
    border-radius: 10px;
    background-color: #780000;
    color: #fdf0d5;
    border-color: #669bbc;
}
button:hover{
    transform:translateY(-2px);
    transition:.2s;
}

#startscreen,
#gamescreen {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #bc6c25;
    border-radius: 35px;
    background-color: #606c38;
}

#gamearea {
    margin-bottom: 20px;
}

#historyarea {
    border: 2px solid #fefae0;
    padding: 20px;
    border-radius: 20px;
    background-color: #dda15e;
    margin-top: 20px;

}

#historyarea h3 {
    margin-top: 0;
}

#history {
    height: 250px;
    overflow-y: scroll;
}

#message {
    min-height: 20px;
    color: #fefae0;
}

#startmessage {
    min-height: 20px;
    color: #fefae0;
}

#requiredword {
    font-weight: bold;
    font-size: 18px;
}